body {
  display: block;
  text-align: center;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  padding: 30px;
}
h2 {
  padding: 10px;
}

.card {
  padding: 5px;
  display: block;
  margin: 40px;
}

#city-field {
}

#search-button {
}
